# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.venv/

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Application specific (local data)
chats/
chroma_db/
profiles.json
*.log